html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1rem;
}

h1 {
  padding-top: 10px;
  font-family: 'Roboto Mono';
  font-size: 40px;
}

p {
}

label {
  width: 100%;
  margin-top: 35px;
  font-size: 1.1rem;
}

.badge {
  font-family: 'Roboto Mono';
}

.table td {
  font-size: 18px;
}

.table thead {
  font-size: 18px;
}

.dropdown-item{
  font-size: 1.1rem;
  cursor: pointer;
}

.input-group {
  width: 300px;
}

.input-badge {
    position: absolute;
    right: 60px;
    top: 4px;
    border: 5px;
}

.input-badge h5 {
  font-size: 22px;
}

/*.input-group-text {
  width: 45px;
  display: none;
}*/

.form-control {
  width: 100px;
}

.input-group-prepend span:first-child{
  text-align: center;
}

.supplementary-button {
  width: 130px;
}

.feather {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  font-size: 1.1rem;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.fixed-bottom {
  width: fit-content;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.label-button {
  height: 40px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.touchscreen-nav {
  color: #bbb;
}

.touchscreen-nav h1{
  font-size: 18px;
}

.touchscreen-feather {
  width: 50px;
  height: 50px;
  color: #ddd;
}

.fit {
  display: inline-block;
  white-space: nowrap;
}

/*#previous-instruction{
  color: #aaa;
}

#current-instruction{
  padding-top: 10px;
  padding-bottom: 10px;
}

#next-instruction {
  color: #aaa;

}*/

.fade-box {
  height: 80px; 
  position: relative;
  overflow: hidden;
  color: gray;
}

#top_fade {
  width: 800px;
  height:50px;
  /*max-height: 80% !important;*/
  z-index: 99;
  position: absolute;
  top: 0px;
  background: url("top-fade.png") top center no-repeat;
}

#bottom_fade {
  width: 800px;
  height:50px;
  /*max-height: 80% !important;*/
  z-index: 99;
  position: absolute;
  bottom: 0px;
  background: url("bottom-fade.png") bottom center no-repeat;
}

